#dash {
    .empty_box {
        background: #fff;
        padding: 20px 0;
        text-align: center;

        .tips {
            text-align: center;
            padding: 20px 0;
        }
    }

    .model_box {
        background: #fff;
        padding: 10px 20px;
        margin-bottom: 20px;

        .half {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px #efefef;
        }
        .info1,
        .info2 {
            width: 48%;
        }
        .copyBtn {
            margin-left: 10px;
        }
    }
    .green {
        color: #13ce66;
    }
    .red {
        color: #ff4949;
    }
    .yello {
        color: #f7ba2a;
    }
    .gary {
        color: #d3dce6;
    }
    .tunnel_list {
        background: #fff;

        .tunnel_box {
            padding: 10px;
        }
        .footer {
            padding: 10px 0;
            text-align: right;
        }
    }
}

.client_label {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: solid 1px #efefef;

    &:last-child {
        border: none;
    }

    .tit {
        font-weight: 600;
        font-size: 14px;
    }
    .txts {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        margin-right: 5px;
        line-height: 25px;

        .txt {
            font-size: #999;
        }
        .btn {
            margin-left: 20px;
            color: #20a0ff;
            cursor: pointer;
        }
    }
}
